---
interface Props {
  src: string;
}

const {src} = Astro.props;
---
<div class="custom-video">
  <video controls>
    <source type="video/mp4" src={src} />
  </video>
  <div>
    
  </div>
</div>

<style>
  video{
    width: 60%;
    text-align: center;
  }


</style>